#todo-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .todo-card {
    background-color: #15101C;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    border-radius: 10px;

    .content {
      p {
        font-size: 16px;
        color: #9E78CF;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        transition: 0.3s;

        svg {
          transition: 0.3s;
        }

        &:hover {
          svg {
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}