#todo {
  background-color: #2b2433;
  padding: 50px 60px;
  border-radius: 20px;
  height: auto;

  #top {
    .close-edit {
      display: none !important;
    }

    .open-edit {
      display: flex;
    }

    .edit-input {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      input {
        padding: 7px 15px;
        background-color: transparent;
        width: 90%;
        border: 1px solid #9E78CF;
        border-radius: 5px;
        color: white;
        outline: none;
        font-family: Montserrat, "sans-serif";

        &::placeholder {
          font-family: Montserrat, "sans-serif" !important;
        }
      }

      button {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        background-color: transparent;
        background-color: #9E78CF;
        border: 1px solid #9E78CF;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        color: white;
        font-weight: 500;

        &:hover {
          background-color: #7b54ad;
          border: 1px solid #7b54ad;
        }
      }
    }
  }

  h3 {
    color: white;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}